.docs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.docs-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.docs-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.docs-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.docs-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.docs-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.docs-icon {
  width: 36px;
  height: 36px;
}
.docs-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.docs-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.docs-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.docs-link2 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.docs-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.docs-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.docs-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.docs-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.docs-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.docs-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.docs-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-icon2 {
  width: 24px;
  height: 24px;
}
.docs-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link6 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .docs-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .docs-icon {
    fill: var(--dl-color-gray-white);
  }
  .docs-links-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .docs-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
