.docs-container {
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.docs-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.docs-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.docs-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.docs-icon {
  width: 40px;
  height: 40px;
}
.docs-separator {
  width: 30px;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.docs-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.docs-icon02 {
  width: 36px;
  height: 36px;
}
.docs-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.docs-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.docs-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.docs-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.docs-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.docs-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.docs-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.docs-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.docs-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.docs-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.docs-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-icon04 {
  width: 24px;
  height: 24px;
}
.docs-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link06 {
  text-decoration: none;
}
.docs-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(90deg, rgb(229, 229, 229) 0.00%,rgb(215, 214, 214) 100.00%);
}
.docs-sidebar {
  width: 300px;
  height: auto;
  display: flex;
  padding: 32px;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #90908e;
}
.docs-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.docs-icon06 {
  width: 36px;
  height: 36px;
}
.docs-container03 {
  top: 120;
  width: 200px;
  height: auto;
  display: flex;
  position: sticky;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.docs-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.docs-text02 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.docs-text03 {
  text-transform: uppercase;
}
.docs-options {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.docs-link07 {
  color: #ffffff;
  text-decoration: none;
}
.docs-link08 {
  color: rgb(251, 251, 251);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-nav-item1 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.docs-text04 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.docs-options1 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.docs-link09 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-link10 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.docs-text05 {
  color: #ffffff;
}
.docs-separator1 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.docs-container04 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.docs-icon08 {
  width: 100px;
  align-self: flex-start;
}
.docs-text06 {
  width: 100%;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.docs-container05 {
  flex: 0 0 auto;
  width: 800px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.docs-text07 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
}
.docs-link11 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.docs-link12 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.docs-separator2 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-text08 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
}
.docs-link13 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.docs-link14 {
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.docs-separator3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-container06 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tenunits);
  align-self: center;
  align-items: center;
  border-color: #545454;
  border-style: double;
  border-width: 4px;
  flex-direction: column;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.docs-text09 {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 600;
}
.docs-container07 {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
}
.docs-faq-item {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-faq-question {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.docs-faq-question:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.docs-text10 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.docs-icon10 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.docs-faq-answer {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.docs-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.docs-text11 {
  font-size: 16px;
}
.docs-link15 {
  text-decoration: underline;
}
.docs-faq-item1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.docs-faq-question1 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.docs-faq-question1:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.docs-text13 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.docs-icon12 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.docs-faq-answer1 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.docs-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.docs-text14 {
  font-size: 16px;
}
.docs-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.docs-text15 {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 600;
}
.docs-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.docs-text18 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.docs-text19 {
  font-size: 16px;
}
.docs-text20 {
  font-size: 16px;
}
.docs-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.docs-text22 {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 600;
}
.docs-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.docs-text25 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.docs-text26 {
  font-size: 16px;
}
.docs-text27 {
  font-size: 16px;
}
.docs-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.docs-image1 {
  width: 100px;
  object-fit: cover;
}
.docs-image2 {
  width: 100px;
  object-fit: cover;
}
.docs-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.docs-text29 {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 600;
}
.docs-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.docs-text32 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.docs-text33 {
  font-size: 16px;
}
.docs-text34 {
  font-size: 16px;
}
.docs-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.docs-image3 {
  width: 100px;
  object-fit: cover;
}
.docs-image4 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .docs-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .docs-icon02 {
    fill: var(--dl-color-gray-white);
  }
  .docs-links-container {
    display: none;
  }
  .docs-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .docs-icon06 {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .docs-navbar-container {
    width: 100%;
  }
  .docs-navbar {
    width: 100%;
  }
  .docs-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .docs-container02 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .docs-sidebar {
    width: 20%;
    padding: var(--dl-space-space-halfunit);
  }
  .docs-burger-menu1 {
    padding: var(--dl-space-space-halfunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .docs-container03 {
    width: 100%;
    display: none;
    align-self: flex-start;
    align-items: flex-start;
  }
  .docs-separator1 {
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .docs-container04 {
    width: auto;
    height: auto;
  }
  .docs-container05 {
    width: auto;
  }
  .docs-container06 {
    width: auto;
    height: 100%;
  }
}
