.footer-container-footer-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.footer-container-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-container-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.footer-container-link {
  font-size: 18px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}
.footer-container-text {
  text-transform: lowercase;
}











.faq-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.faq-navbar-interactive {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.faq-icon {
  width: 64px;
  height: auto;
  margin-right: var(--dl-space-space-tenunits);
}
.faq-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: flex-start;
}
.faq-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.faq-navlink {
  text-decoration: none;
}
.faq-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.faq-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.faq-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}
.faq-cta-btn {
  color: var(--dl-color-gray-white);
  width: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.faq-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.faq-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.faq-icon02 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.faq-icon02:focus {
  fill: #D9D9D9;
}
.faq-icon02:hover {
  fill: #D9D9D9;
}
.faq-icon02:active {
  fill: #D9D9D9;
}
.faq-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.faq-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.faq-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-icon04 {
  width: 16px;
  height: 16px;
}
.faq-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-text {
  margin-bottom: var(--dl-space-space-unit);
}
.faq-container02 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(229, 229, 229) 0.00%,rgb(215, 214, 214) 100.00%);
}
.faq-separator {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.faq-container03 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #a9a9a9;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(185, 221, 41) 0.00%,rgb(111, 185, 53) 100.00%);
}
.faq-icon06 {
  fill: #ffffff;
  width: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.faq-text01 {
  color: rgb(255, 255, 255);
  width: auto;
  align-self: center;
  text-align: center;
}
.faq-container04 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tenunits);
  align-self: center;
  align-items: center;
  border-color: #545454;
  border-style: double;
  border-width: 4px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.faq-container05 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
}
.faq-faq-item {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-faq-question {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.faq-faq-question:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.faq-text02 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.faq-icon08 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.faq-faq-answer {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.faq-container06 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.faq-text03 {
  font-size: 16px;
}
.faq-link {
  text-decoration: underline;
}
.faq-faq-item1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-faq-question1 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.faq-faq-question1:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.faq-text05 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.faq-icon10 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.faq-faq-answer1 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.faq-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.faq-text06 {
  font-size: 16px;
}
.faq-faq-item2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-faq-question2 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.faq-faq-question2:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.faq-text07 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.faq-icon12 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.faq-faq-answer2 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.faq-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.faq-text08 {
  font-size: 16px;
}
.faq-faq-item3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-faq-question3 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.faq-faq-question3:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.faq-text09 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.faq-icon14 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.faq-faq-answer3 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.faq-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.faq-text10 {
  font-size: 16px;
}
.faq-link1 {
  text-decoration: underline;
}
.faq-faq-item4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-faq-question4 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 2px 5px 0px rgba(113, 113, 113, 0.28);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 0.17);
}
.faq-faq-question4:hover {
  cursor: pointer;
  background-color: rgba(128, 206, 47, 0.35);
}
.faq-text13 {
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.faq-icon16 {
  width: 32px;
  height: 32px;
  align-self: center;
}
.faq-faq-answer4 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  border-color: #878787;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.23);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.faq-container10 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.faq-text14 {
  font-size: 16px;
}
.faq-container11 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.faq-image1 {
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.faq-image2 {
  width: 526px;
  height: auto;
  object-fit: cover;
}
.faq-container12 {
  display: none;
}
@media(max-width: 1200px) {
  .faq-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .faq-icon {
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .faq-navbar-interactive {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .faq-icon {
    width: 64px;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .faq-cta-btn {
    color: var(--dl-color-gray-white);
    width: auto;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .faq-separator {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .faq-container03 {
    width: auto;
  }
  .faq-container04 {
    width: 100%;
    align-self: center;
  }
  .faq-container05 {
    width: 100%;
  }
}
@media(max-width: 890px) {
  .faq-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: 32px;
    padding-right: 32px;
  }
  .faq-icon {
    display: none;
  }
  .faq-desktop-menu {
    display: none;
  }
  .faq-burger-menu {
    display: flex;
  }
  .faq-icon02 {
    width: 64px;
    height: auto;
  }
  .faq-mobile-menu {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .faq-container01 {
    width: 100%;
    align-self: flex-end;
  }
  .faq-menu-close {
    flex: 1;
    justify-content: flex-end;
  }
  .faq-icon04 {
    width: 64px;
    height: auto;
  }
  .faq-nav2 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
  }
  .faq-navlink4 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .faq-navlink5 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .faq-text {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .faq-separator {
    width: 100%;
  }
  .faq-container03 {
    width: auto;
  }
  .faq-container04 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .faq-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .faq-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .faq-mobile-menu {
    padding: 16px;
  }
  .faq-container02 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .faq-separator {
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .faq-container03 {
    width: auto;
    height: auto;
  }
  .faq-container04 {
    width: auto;
    height: 100%;
  }
}
