.tutorials-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tutorials-navbar-interactive {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.tutorials-icon {
  width: 64px;
  height: auto;
  margin-right: var(--dl-space-space-tenunits);
}
.tutorials-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: flex-start;
}
.tutorials-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tutorials-navlink {
  text-decoration: none;
}
.tutorials-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.tutorials-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.tutorials-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}
.tutorials-cta-btn {
  color: var(--dl-color-gray-white);
  width: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.tutorials-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.tutorials-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.tutorials-icon02 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.tutorials-icon02:focus {
  fill: #D9D9D9;
}
.tutorials-icon02:hover {
  fill: #D9D9D9;
}
.tutorials-icon02:active {
  fill: #D9D9D9;
}
.tutorials-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.tutorials-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tutorials-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.tutorials-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorials-icon04 {
  width: 16px;
  height: 16px;
}
.tutorials-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tutorials-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.tutorials-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.tutorials-text {
  margin-bottom: var(--dl-space-space-unit);
}
.tutorials-container2 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(229, 229, 229) 0.00%,rgb(215, 214, 214) 100.00%);
}
.tutorials-separator {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tutorials-container3 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #a9a9a9;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(185, 221, 41) 0.00%,rgb(111, 185, 53) 100.00%);
}
.tutorials-icon06 {
  fill: #ffffff;
  width: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.tutorials-text01 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.tutorials-container4 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorials-text02 {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 600;
}
.tutorials-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tutorials-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: stretch;
  margin-left: var(--dl-space-space-tenunits);
  margin-right: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.tutorials-navlink6 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 1.00%,rgb(238, 238, 238) 100.00%);
}
.tutorials-navlink6:hover {
  background-image: linear-gradient(90deg, rgb(107, 208, 130) 0.00%,rgb(176, 217, 127) 100.00%);
}
.tutorials-navlink7 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 1.00%,rgb(238, 238, 238) 100.00%);
}
.tutorials-navlink7:hover {
  background-image: linear-gradient(90deg, rgb(107, 208, 130) 0.00%,rgb(176, 217, 127) 100.00%);
}
.tutorials-navlink8 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 1.00%,rgb(238, 238, 238) 100.00%);
}
.tutorials-navlink8:hover {
  background-image: linear-gradient(90deg, rgb(107, 208, 130) 0.00%,rgb(176, 217, 127) 100.00%);
}
.tutorials-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.tutorials-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.tutorials-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tutorials-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.tutorials-link {
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}
.tutorials-text08 {
  text-transform: lowercase;
}
.tutorials-container7 {
  display: none;
}
@media(max-width: 1200px) {
  .tutorials-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .tutorials-icon {
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .tutorials-navbar-interactive {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .tutorials-icon {
    width: 64px;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .tutorials-cta-btn {
    color: var(--dl-color-gray-white);
    width: auto;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .tutorials-separator {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tutorials-container3 {
    width: auto;
  }
}
@media(max-width: 890px) {
  .tutorials-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: 32px;
    padding-right: 32px;
  }
  .tutorials-icon {
    display: none;
  }
  .tutorials-desktop-menu {
    display: none;
  }
  .tutorials-burger-menu {
    display: flex;
  }
  .tutorials-icon02 {
    width: 64px;
    height: auto;
  }
  .tutorials-mobile-menu {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .tutorials-container1 {
    width: 100%;
    align-self: flex-end;
  }
  .tutorials-menu-close {
    flex: 1;
    justify-content: flex-end;
  }
  .tutorials-icon04 {
    width: 64px;
    height: auto;
  }
  .tutorials-nav2 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
  }
  .tutorials-navlink4 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorials-navlink5 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorials-text {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorials-separator {
    width: 100%;
  }
  .tutorials-container3 {
    width: auto;
  }
}
@media(max-width: 479px) {
  .tutorials-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .tutorials-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .tutorials-mobile-menu {
    padding: 16px;
  }
  .tutorials-container2 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .tutorials-separator {
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tutorials-container3 {
    width: auto;
    height: auto;
  }
}
