.infoblock-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: stretch;
  border-color: rgba(192, 193, 20, 0.64);
  border-style: solid;
  border-width: 4px;
  border-radius: 16px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2e1c8;
}
.infoblock-icon {
  fill: #ccb45c;
  width: 100px;
  height: auto;
  margin-top: var(--dl-space-space-doubleunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.infoblock-text {
  width: 100%;
  height: auto;
  font-size: 26px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}


.tutorialnewequipmentslot-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tutorialnewequipmentslot-navbar-interactive {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.tutorialnewequipmentslot-icon {
  width: 64px;
  height: auto;
  margin-right: var(--dl-space-space-tenunits);
}
.tutorialnewequipmentslot-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tutorialnewequipmentslot-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorialnewequipmentslot-icon02 {
  width: 32px;
  height: auto;
}
.tutorialnewequipmentslot-navlink {
  margin-left: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorialnewequipmentslot-cta-btn {
  color: var(--dl-color-gray-white);
  width: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.tutorialnewequipmentslot-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.tutorialnewequipmentslot-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.tutorialnewequipmentslot-icon04 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.tutorialnewequipmentslot-icon04:focus {
  fill: #D9D9D9;
}
.tutorialnewequipmentslot-icon04:hover {
  fill: #D9D9D9;
}
.tutorialnewequipmentslot-icon04:active {
  fill: #D9D9D9;
}
.tutorialnewequipmentslot-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.tutorialnewequipmentslot-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tutorialnewequipmentslot-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.tutorialnewequipmentslot-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorialnewequipmentslot-icon06 {
  width: 16px;
  height: 16px;
}
.tutorialnewequipmentslot-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tutorialnewequipmentslot-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.tutorialnewequipmentslot-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.tutorialnewequipmentslot-text {
  margin-bottom: var(--dl-space-space-unit);
}
.tutorialnewequipmentslot-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(229, 229, 229) 0.00%,rgb(215, 214, 214) 100.00%);
}
.tutorialnewequipmentslot-separator {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-container04 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #a9a9a9;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(185, 221, 41) 0.00%,rgb(111, 185, 53) 100.00%);
}
.tutorialnewequipmentslot-icon08 {
  fill: #ffffff;
  width: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.tutorialnewequipmentslot-text01 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.tutorialnewequipmentslot-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorialnewequipmentslot-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.tutorialnewequipmentslot-container07 {
  flex: 1;
  width: 80%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text02 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.tutorialnewequipmentslot-text03 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorialnewequipmentslot-image {
  flex: 1;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.tutorialnewequipmentslot-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-container09 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container10 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text04 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image01 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container11 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text05 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image02 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container12 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container13 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text14 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image03 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container14 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text15 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image04 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container15 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.tutorialnewequipmentslot-container16 {
  flex: 1;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text16 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image05 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container17 {
  flex: 1;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-container18 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 2px;
  padding-left: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorialnewequipmentslot-text17 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.tutorialnewequipmentslot-text18 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorialnewequipmentslot-container19 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container20 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text19 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image06 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container21 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text20 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image07 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container22 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container23 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text21 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image08 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container24 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text22 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image09 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container25 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container26 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text23 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image10 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container27 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text24 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image11 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container28 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container29 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text25 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image12 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container30 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text26 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image13 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container31 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container32 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text27 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image14 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container33 {
  flex: 1;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-container34 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 2px;
  padding-left: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorialnewequipmentslot-text28 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorialnewequipmentslot-container35 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container36 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text29 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image15 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container37 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text30 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image16 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container38 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container39 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text31 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image17 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container40 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text32 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image18 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container41 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container42 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text33 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image19 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container43 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text34 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image20 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container44 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container45 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text35 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image21 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container46 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorialnewequipmentslot-text36 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image22 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container47 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorialnewequipmentslot-container48 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-text37 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorialnewequipmentslot-image23 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorialnewequipmentslot-container49 {
  flex: 1;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorialnewequipmentslot-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.tutorialnewequipmentslot-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.tutorialnewequipmentslot-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tutorialnewequipmentslot-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.tutorialnewequipmentslot-link {
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}
.tutorialnewequipmentslot-text38 {
  text-transform: lowercase;
}
.tutorialnewequipmentslot-container50 {
  display: none;
}
@media(max-width: 1200px) {
  .tutorialnewequipmentslot-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .tutorialnewequipmentslot-icon {
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .tutorialnewequipmentslot-navbar-interactive {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .tutorialnewequipmentslot-icon {
    width: 64px;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .tutorialnewequipmentslot-cta-btn {
    color: var(--dl-color-gray-white);
    width: auto;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .tutorialnewequipmentslot-separator {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tutorialnewequipmentslot-container04 {
    width: auto;
  }
  .tutorialnewequipmentslot-container09 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container12 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container15 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container19 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container22 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container25 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container28 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container31 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container35 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container38 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container41 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container44 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorialnewequipmentslot-container47 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 890px) {
  .tutorialnewequipmentslot-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: 32px;
    padding-right: 32px;
  }
  .tutorialnewequipmentslot-icon {
    display: none;
  }
  .tutorialnewequipmentslot-desktop-menu {
    display: none;
  }
  .tutorialnewequipmentslot-burger-menu {
    display: flex;
  }
  .tutorialnewequipmentslot-icon04 {
    width: 64px;
    height: auto;
  }
  .tutorialnewequipmentslot-mobile-menu {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .tutorialnewequipmentslot-container02 {
    width: 100%;
    align-self: flex-end;
  }
  .tutorialnewequipmentslot-menu-close {
    flex: 1;
    justify-content: flex-end;
  }
  .tutorialnewequipmentslot-icon06 {
    width: 64px;
    height: auto;
  }
  .tutorialnewequipmentslot-nav2 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
  }
  .tutorialnewequipmentslot-navlink1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorialnewequipmentslot-navlink2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorialnewequipmentslot-text {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorialnewequipmentslot-separator {
    width: 100%;
  }
  .tutorialnewequipmentslot-container04 {
    width: auto;
  }
}
@media(max-width: 479px) {
  .tutorialnewequipmentslot-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .tutorialnewequipmentslot-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .tutorialnewequipmentslot-mobile-menu {
    padding: 16px;
  }
  .tutorialnewequipmentslot-container03 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .tutorialnewequipmentslot-separator {
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tutorialnewequipmentslot-container04 {
    width: auto;
    height: auto;
  }
}
