.infoblock-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: stretch;
  border-color: rgba(192, 193, 20, 0.64);
  border-style: solid;
  border-width: 4px;
  border-radius: 16px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2e1c8;
}
.infoblock-icon {
  fill: #ccb45c;
  width: 100px;
  height: auto;
  margin-top: var(--dl-space-space-doubleunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.infoblock-text {
  width: 100%;
  height: auto;
  font-size: 26px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}





.footer-container-footer-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.footer-container-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-container-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.footer-container-link {
  font-size: 18px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}
.footer-container-text {
  text-transform: lowercase;
}











.tutorial-adding-new-equipment-slot-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-navbar-interactive {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.tutorial-adding-new-equipment-slot-icon {
  width: 64px;
  height: auto;
  margin-right: var(--dl-space-space-tenunits);
}
.tutorial-adding-new-equipment-slot-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tutorial-adding-new-equipment-slot-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial-adding-new-equipment-slot-icon02 {
  width: 32px;
  height: auto;
}
.tutorial-adding-new-equipment-slot-navlink {
  margin-left: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-cta-btn {
  color: var(--dl-color-gray-white);
  width: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.tutorial-adding-new-equipment-slot-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.tutorial-adding-new-equipment-slot-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.tutorial-adding-new-equipment-slot-icon04 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.tutorial-adding-new-equipment-slot-icon04:focus {
  fill: #D9D9D9;
}
.tutorial-adding-new-equipment-slot-icon04:hover {
  fill: #D9D9D9;
}
.tutorial-adding-new-equipment-slot-icon04:active {
  fill: #D9D9D9;
}
.tutorial-adding-new-equipment-slot-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.tutorial-adding-new-equipment-slot-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial-adding-new-equipment-slot-icon06 {
  width: 16px;
  height: 16px;
}
.tutorial-adding-new-equipment-slot-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-text {
  margin-bottom: var(--dl-space-space-unit);
}
.tutorial-adding-new-equipment-slot-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(229, 229, 229) 0.00%,rgb(215, 214, 214) 100.00%);
}
.tutorial-adding-new-equipment-slot-separator {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-container04 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #a9a9a9;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(185, 221, 41) 0.00%,rgb(111, 185, 53) 100.00%);
}
.tutorial-adding-new-equipment-slot-icon08 {
  fill: #ffffff;
  width: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.tutorial-adding-new-equipment-slot-text01 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorial-adding-new-equipment-slot-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.tutorial-adding-new-equipment-slot-container07 {
  flex: 1;
  width: 80%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text02 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-text03 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-image {
  flex: 1;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.tutorial-adding-new-equipment-slot-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-container09 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container10 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text04 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image01 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container11 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text05 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image02 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container12 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container13 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text14 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image03 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container14 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text15 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image04 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container15 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.tutorial-adding-new-equipment-slot-container16 {
  flex: 1;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text16 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image05 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container17 {
  flex: 1;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-container18 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 2px;
  padding-left: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorial-adding-new-equipment-slot-text17 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-text18 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-container19 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container20 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text19 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image06 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container21 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text20 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image07 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container22 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container23 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text21 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image08 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container24 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text22 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image09 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container25 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container26 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text23 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image10 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container27 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text24 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image11 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container28 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container29 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text25 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image12 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container30 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text26 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image13 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container31 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container32 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text27 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image14 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container33 {
  flex: 1;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-container34 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 2px;
  padding-left: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.tutorial-adding-new-equipment-slot-text28 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.tutorial-adding-new-equipment-slot-container35 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container36 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text29 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image15 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container37 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text30 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image16 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container38 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container39 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text31 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image17 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container40 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text32 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image18 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container41 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container42 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text33 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image19 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container43 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text34 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image20 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container44 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container45 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text35 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image21 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container46 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.tutorial-adding-new-equipment-slot-text36 {
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image22 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container47 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: stretch;
  justify-content: space-between;
}
.tutorial-adding-new-equipment-slot-container48 {
  flex: 1;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-text37 {
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(107, 107, 107, 0.23);
}
.tutorial-adding-new-equipment-slot-image23 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
}
.tutorial-adding-new-equipment-slot-container49 {
  flex: 1;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.tutorial-adding-new-equipment-slot-container50 {
  display: none;
}
@media(max-width: 1200px) {
  .tutorial-adding-new-equipment-slot-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .tutorial-adding-new-equipment-slot-icon {
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .tutorial-adding-new-equipment-slot-navbar-interactive {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .tutorial-adding-new-equipment-slot-icon {
    width: 64px;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .tutorial-adding-new-equipment-slot-cta-btn {
    color: var(--dl-color-gray-white);
    width: auto;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .tutorial-adding-new-equipment-slot-separator {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tutorial-adding-new-equipment-slot-container04 {
    width: auto;
  }
  .tutorial-adding-new-equipment-slot-container09 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container12 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container15 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container19 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container22 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container25 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container28 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container31 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container35 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container38 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container41 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container44 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .tutorial-adding-new-equipment-slot-container47 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 890px) {
  .tutorial-adding-new-equipment-slot-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: 32px;
    padding-right: 32px;
  }
  .tutorial-adding-new-equipment-slot-icon {
    display: none;
  }
  .tutorial-adding-new-equipment-slot-desktop-menu {
    display: none;
  }
  .tutorial-adding-new-equipment-slot-burger-menu {
    display: flex;
  }
  .tutorial-adding-new-equipment-slot-icon04 {
    width: 64px;
    height: auto;
  }
  .tutorial-adding-new-equipment-slot-mobile-menu {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .tutorial-adding-new-equipment-slot-container02 {
    width: 100%;
    align-self: flex-end;
  }
  .tutorial-adding-new-equipment-slot-menu-close {
    flex: 1;
    justify-content: flex-end;
  }
  .tutorial-adding-new-equipment-slot-icon06 {
    width: 64px;
    height: auto;
  }
  .tutorial-adding-new-equipment-slot-nav2 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
  }
  .tutorial-adding-new-equipment-slot-navlink1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorial-adding-new-equipment-slot-navlink2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorial-adding-new-equipment-slot-text {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .tutorial-adding-new-equipment-slot-separator {
    width: 100%;
  }
  .tutorial-adding-new-equipment-slot-container04 {
    width: auto;
  }
}
@media(max-width: 479px) {
  .tutorial-adding-new-equipment-slot-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .tutorial-adding-new-equipment-slot-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .tutorial-adding-new-equipment-slot-mobile-menu {
    padding: 16px;
  }
  .tutorial-adding-new-equipment-slot-container03 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .tutorial-adding-new-equipment-slot-separator {
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .tutorial-adding-new-equipment-slot-container04 {
    width: auto;
    height: auto;
  }
}
