.updates-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.updates-navbar-interactive {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.updates-icon {
  width: 64px;
  height: auto;
  margin-right: var(--dl-space-space-tenunits);
}
.updates-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: flex-start;
}
.updates-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.updates-navlink {
  text-decoration: none;
}
.updates-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.updates-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.updates-navlink3 {
  margin-left: 32px;
  text-decoration: none;
}
.updates-cta-btn {
  color: var(--dl-color-gray-white);
  width: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.updates-cta-btn:hover {
  color: #0c0c0c;
  background-color: #dcdcdc;
}
.updates-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.updates-icon02 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.updates-icon02:focus {
  fill: #D9D9D9;
}
.updates-icon02:hover {
  fill: #D9D9D9;
}
.updates-icon02:active {
  fill: #D9D9D9;
}
.updates-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.updates-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.updates-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.updates-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.updates-icon04 {
  width: 16px;
  height: 16px;
}
.updates-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.updates-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-text {
  margin-bottom: var(--dl-space-space-unit);
}
.updates-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(229, 229, 229) 0.00%,rgb(215, 214, 214) 100.00%);
}
.updates-sidebar {
  width: 300px;
  display: flex;
  padding: 32px;
  position: relative;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #90908e;
}
.updates-container03 {
  top: 120px;
  height: auto;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.updates-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.updates-text01 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.updates-options {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.updates-text02 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.updates-nav-item1 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.updates-options1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.updates-separator {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.updates-container04 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #a9a9a9;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(185, 221, 41) 0.00%,rgb(111, 185, 53) 100.00%);
}
.updates-icon06 {
  fill: #ffffff;
  width: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.updates-text03 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
.updates-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tenunits);
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.updates-text04 {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: Raleway;
  font-weight: 600;
}
.updates-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.updates-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.updates-text07 {
  width: auto;
  text-align: left;
}
.updates-container08 {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.updates-container09 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image {
  width: auto;
  height: 240px;
  align-self: center;
  object-fit: cover;
}
.updates-text08 {
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container10 {
  gap: 0;
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.updates-image01 {
  width: auto;
  height: 310px;
  align-self: center;
  object-fit: cover;
}
.updates-text09 {
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.updates-text13 {
  width: auto;
  text-align: left;
}
.updates-container12 {
  gap: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.updates-container13 {
  flex: 0 0 auto;
  width: 400px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image02 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text14 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container14 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image03 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text17 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container15 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image04 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text20 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container16 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image05 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text23 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container17 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image06 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text24 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container18 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image07 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text25 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container19 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image08 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text26 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container20 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image09 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text31 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container21 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image10 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text32 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container22 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image11 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text33 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container23 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image12 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text34 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-container24 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.updates-image13 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.updates-text35 {
  width: 100%;
  height: 100%;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 300;
  background-color: rgba(107, 107, 107, 0.23);
}
.updates-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.updates-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.updates-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.updates-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.updates-link {
  font-size: 18px;
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}
.updates-text36 {
  text-transform: lowercase;
}
.updates-container25 {
  display: none;
}
@media(max-width: 1200px) {
  .updates-navbar-interactive {
    padding-left: var(--dl-space-space-tenunits);
    padding-right: var(--dl-space-space-tenunits);
  }
  .updates-icon {
    margin-right: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 991px) {
  .updates-navbar-interactive {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .updates-icon {
    width: 64px;
    height: auto;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .updates-cta-btn {
    color: var(--dl-color-gray-white);
    width: auto;
    align-self: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .updates-container03 {
    z-index: 99;
  }
  .updates-separator {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .updates-container04 {
    width: auto;
  }
  .updates-container08 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .updates-container12 {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 890px) {
  .updates-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: 32px;
    padding-right: 32px;
  }
  .updates-icon {
    display: none;
  }
  .updates-desktop-menu {
    display: none;
  }
  .updates-burger-menu {
    display: flex;
  }
  .updates-icon02 {
    width: 64px;
    height: auto;
  }
  .updates-mobile-menu {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .updates-container01 {
    width: 100%;
    align-self: flex-end;
  }
  .updates-menu-close {
    flex: 1;
    justify-content: flex-end;
  }
  .updates-icon04 {
    width: 64px;
    height: auto;
  }
  .updates-nav2 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
  }
  .updates-navlink4 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .updates-navlink5 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .updates-text {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
  }
  .updates-sidebar {
    width: 100%;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .updates-container03 {
    width: auto;
  }
  .updates-nav-item {
    width: auto;
  }
  .updates-options {
    align-self: flex-start;
  }
  .updates-separator {
    width: 100%;
  }
  .updates-container04 {
    width: auto;
  }
}
@media(max-width: 479px) {
  .updates-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .updates-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .updates-mobile-menu {
    padding: 16px;
  }
  .updates-container02 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .updates-sidebar {
    width: 20%;
    padding: var(--dl-space-space-halfunit);
  }
  .updates-container03 {
    width: 100%;
    display: none;
    align-self: flex-start;
    align-items: flex-start;
  }
  .updates-separator {
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .updates-container04 {
    width: auto;
    height: auto;
  }
}
