.infoblock-container {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: stretch;
  border-color: rgba(192, 193, 20, 0.64);
  border-style: solid;
  border-width: 4px;
  border-radius: 16px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2e1c8;
}
.infoblock-icon {
  fill: #ccb45c;
  width: 100px;
  height: auto;
  margin-top: var(--dl-space-space-doubleunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.infoblock-text {
  width: 100%;
  height: auto;
  font-size: 26px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.55;
  text-decoration: none;
}

